{erl_opts, [debug_info]}.

{deps, []}.

{xref_checks, [undefined_function_calls]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [{extras, ["README.md", "LICENSE"]},
          {main, "README.md"},
          {homepage_url, "https://github.com/chrzaszcz/erlang_doctor"},
          {source_url, "https://github.com/chrzaszcz/erlang_doctor"},
          {api_reference, false}
         ]}.
